@{
    Layout ="_Layout";
}

@model BlockBuster.Models.Director



<h2>Add a New Director!</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => Model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add"/>

}
<p>@Html.ActionLink("Show All Directors", "Index")</p>
<p>@Html.ActionLink("Home Page", "Index", "Home")</p>