@{
  Layout = "_Layout";
}

@model BlockBuster.Models.Movie

<h1>Welcome to Blockbuster</h1>

 @* FormMethod.Get) *@
@* @using (Html.BeginForm("Search", "Movies", FormMethod.Get))
{
  <p>Search by movie:</p>
  @Html.TextBox()
  <input type ="submit" value="Search"/>
} *@

<form action="/Search" method="Get">
  <input type="text" name="search">
  <button type="submit">Search</button>
</form>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>